.terminal > pre {
  margin: 0;
}

.terminal {
  width: 100%;
  height: 100%;
  font: 16px Inconsolata, monospace;
  overflow-y: auto;
}

.chakra-ui-dark .terminal {
  background-color: white;
  background-image: radial-gradient(rgba(34, 54, 65, 0.75), black 120%);
  color: white;
  text-shadow: 0 0 3px #c8c8c8;
}

.chakra-ui-light .terminal {
  background-color: black;
  background-image: radial-gradient(white, rgba(229, 236, 240, 0.75) 120%);
  color:black;
  text-shadow: 0 0 3px #3a3a3a;
}

.terminal-lines {
  padding: 2rem;
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
}

.terminal > * ::selection {
  background: #0080ff;
  text-shadow: none;
}
